[defaults]
inventory = inventory/hosts.ini
roles_path = /opt/k8s-airgap-cicd-lab/ansible/roles:roles
host_key_checking = False
interpreter_python = auto_silent
timeout = 30
retry_files_enabled = False
stdout_callback = yaml
# When running from a checkout that is not /opt/..., prefer ANSIBLE_ROLES_PATH.

[privilege_escalation]
become = True
become_method = sudo
become_user = root
